.button
  background-color: #232f3e
  border-radius: 3px
  border: none
  color: #fff
  cursor: pointer
  display: inline-block
  font-size: 14px
  font-weight: 600
  min-height: 40px
  padding: 0 20px
  text-transform: uppercase
  vertical-align: top
  transition: all 0.3s ease-in-out

  &:hover
    background-color: #e23e57

  &:active
    background-color: #e23e57

  &.disabled,
  &:disabled
    cursor: default
    opacity: 0.5
