<div class="col-filter">
  <h3>Найти</h3>
  <div class="search-input">
    <input class="" name="" type="text" value="" placeholder="Исполнитель">
  </div>
  <div class="search-input">
    <input class="" name="" type="text" value="" placeholder="Альбом">
  </div>
  <div class="search-input">
    <input class="" name="" type="text" value="" placeholder="Год">
  </div>
  <div class="search-input">
    <input class="" name="" type="text" value="" placeholder="Страна">
  </div>
  <div class="search-input">
    <input class="" name="" type="text" value="" placeholder="Лейбл">
  </div>
  <a class="button btn-small" href="#">Смотреть все</a>
</div>
<div class="col-filter">
  <h3>Выбрать</h3>
</div>
<div class="col-filter">
  <div class="filter-input">
    <label>Цена пластинки</label>
    <div class="filter-slider">
      <div class="range-slider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-min="15" data-max="35000">
        <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"></span>
      </div>
      <div class="slider-data">
        Цена:
        <span class="data">
          от <input value="15" min="15" max="35000" data-type="min" data-name="price-min" style="width: 16px;" type="number">
          до <input value="35000" min="15" max="35000" data-type="max" data-name="price-max" style="width: 40px;" type="number">
        </span>
        <span class="add-info">р.</span>
      </div>
    </div>
  </div>
</div>
<div class="col-filter">
  <div class="filter-input">
    <label>Состояние пластинки</label>
  </div>
  <div class="filter-image-list clearfix vinyl-state">
    <div class="col-md-5ths item">
      <div class="image" style="background-position: 0px 0px;"></div>
      <input data-name="vinyl_state[]" data-value="1" type="hidden">
    </div>
    <div class="col-md-5ths item">
      <div class="image" style="background-position: -48px 0px;"></div>
      <input data-name="vinyl_state[]" data-value="2" type="hidden">
    </div>
    <div class="col-md-5ths item">
      <div class="image" style="background-position: -96px 0px;"></div>
      <input data-name="vinyl_state[]" data-value="3" type="hidden">
    </div>
    <div class="col-md-5ths item">
      <div class="image" style="background-position: -144px 0px;"></div>
      <input data-name="vinyl_state[]" data-value="4" type="hidden">
    </div>
    <div class="col-md-5ths item">
      <div class="image" style="background-position: -192px 0px;"></div>
      <input data-name="vinyl_state[]" data-value="5" type="hidden">
    </div>
  </div>
</div>
<div class="col-filter">
  <div class="filter-input">
    <label>Состояние конверта</label>
  </div>
  <div class="filter-image-list clearfix cover-state">
    <input data-name="cover_state" type="hidden">
    <div class="col-md-5ths item" data-value="1">
      <div class="image" style="background-position: 0px -35px;"></div>
      <input data-name="cover_state[]" data-value="1" type="hidden">
    </div>
    <div class="col-md-5ths item" data-value="2">
      <div class="image" style="background-position: -48px -35px;"></div>
      <input data-name="cover_state[]" data-value="2" type="hidden">
    </div>
    <div class="col-md-5ths item" data-value="3">
      <div class="image" style="background-position: -96px -35px;"></div>
      <input data-name="cover_state[]" data-value="3" type="hidden">
    </div>
    <div class="col-md-5ths item" data-value="4">
      <div class="image" style="background-position: -144px -35px;"></div>
      <input data-name="cover_state[]" data-value="4" type="hidden">
    </div>
    <div class="col-md-5ths item" data-value="5">
      <div class="image" style="background-position: -192px -35px;"></div>
      <input data-name="cover_state[]" data-value="5" type="hidden">
    </div>
  </div>
</div>
<div class="col-filter">
  <div class="filter-input">
    <label>Год выпуска пластинки</label>
    <div class="filter-slider">
      <div class="range-slider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-min="1958" data-max="2019">
        <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"></span>
      </div>
      <div class="slider-data">
        Выпущена:
        <span class="data">
          с <input value="1958" min="1958" max="2019" data-type="min" data-name="year-min" style="width: 32px;" type="number">
          по <input value="2019" min="1958" max="2019" data-type="max" data-name="year-max" style="width: 32px;" type="number">
        </span>
        <span class="add-info">гг.</span>
      </div>
    </div>
  </div>
</div>
<div class="col-filter">
  <div class="filter-input">
    <label>Тип пластинки</label>
  </div>
  <div class="filter-list clearfix">
    <input data-name="vinyl_type" type="hidden">
    <div class="item" data-value="1">
      <span class="checkmark"></span>
      <span>Цветной винил</span>
    </div>
  </div>
</div>
<div class="col-filter">
  <a class="button btn-small" href="#">Сбросить фильтр</a>
</div>
