<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 footer__col">
        <h5 class="footer__title">Информация</h5>
        <ul class="footer-menu">
          <li><a class="footer-menu__link" href="about.html">О магазине</a></li>
          <li><a class="footer-menu__link" href="policy.html">Политика Безопасности</a></li>
          <li><a class="footer-menu__link" href="#">Условия соглашения</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 footer__col">
        <h5 class="footer__title">Служба поддержки</h5>
        <ul class="footer-menu">
          <li><a class="footer-menu__link" href="contacts.html">Контакты</a></li>
          <li><a class="footer-menu__link" href="refounds.html">Возврат товара</a></li>
          <li><a class="footer-menu__link" href="#">Рассылка</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 footer__col">
        <img class="pay-img" src="images/icons/m.jpg" alt="">
        <img class="pay-img" src="images/icons/mc.jpg" alt="">
        <img class="pay-img" src="images/icons/visa.jpg" alt="">
        <img class="pay-img" src="images/icons/yad.jpg" alt="">
      </div>
      <div class="col-md-3 col-sm-6 footer__col">
        <span class="footer__logo"><img src="images/logo-footer.png" alt="img"></span>
        <p class="footer__contact">
          Наши контакты:<br> Санкт-Петербург, Рылеева 5<br>Тел: 8 812 5794600<br>Email: <a href="mailto:info@mydissonance.ru">info@mydissonance.ru</a>
        </p>
      </div>
    </div>
  </div>
</footer>
