<header class="header">
  <div class="header__top container">
    <div class="header__inner">
      <a class="logo" href="main.html"><img src="images/logo.png" title="Dissonance" alt="Dissonance"></a>
      <div class="header__menu">
        <div class="categories-menu categories-menu--mobile">
          <button class="js-categories-menu categories-menu__opener" type="button">
            <span class="categories-menu__title">КАТЕГОРИИ</span>
            <span class="categories-menu__icon"></span>
          </button>
          <ul class="categories-menu__list">
            <li class="categories-menu__list-item">
              <a class="categories-menu__link" href="#">Альтернатива и Электроника</a>
            </li>
            <li class="categories-menu__list-item">
              <a class="categories-menu__link" href="#">Джаз</a>
            </li>
            <li class="categories-menu__list-item">
              <a class="categories-menu__link" href="#">Диско</a>
            </li>
            <li class="categories-menu__list-item">
              <a class="categories-menu__link" href="#">Идеи для подарков</a>
            </li>
            <li class="categories-menu__list-item">
              <a class="categories-menu__link" href="#">Металл</a>
            </li>
            <li class="categories-menu__list-item">
              <a class="categories-menu__link" href="#">Прог-рок</a>
            </li>
            <li class="categories-menu__list-item">
              <a class="categories-menu__link" href="#">Пластинки</a>
            </li>
            <li class="categories-menu__list-item">
              <a class="categories-menu__link" href="#">Алфавитный указатель</a>
            </li>
            <li class="categories-menu__list-item">
              <a class="categories-menu__link" href="#">Новые поступления</a>
            </li>
            <li class="categories-menu__list-item">
              <a class="categories-menu__link" href="#">Раритеты</a>
            </li>
          </ul>
        </div>
        <nav class="main-menu">
          <a class="main-menu__link" href="#">О магазине</a>
          <a class="main-menu__link" href="#">Оплата и доставка</a>
          <a class="main-menu__link" href="#">Исполнители</a>
        </nav>
      </div>
      <div class="header__cart">
        <div class="small-cart">
          <button class="js-cart-open small-cart__button" type="button">
            <i class="small-cart__button-icon ion-ios-cart"></i>
            <span class="small-cart__button-count">1</span>
            <span class="small-cart__button-total">
              <span>Корзина</span>
              <span class="small-cart__button-price">2000р.</span>
            </span>
          </button>
          <div class="small-cart__dropdown">
            <div class="small-cart__dropdown-list">
              <table class="table">
                <tr class="small-cart__item">
                  <td class="small-cart__item-text">
                    <a href="#">Act 2</a>
                    <p class="small-cart__item-quantity">×1</p>
                    <p class="small-cart__item-price">2000р.</p>
                  </td>
                  <td class="small-cart__item-text">
                    <button class="small-cart__item-delete" type="button" title="Удалить"><i class="ion-ios-close"></i></button>
                  </td>
                </tr>
                <tr class="small-cart__item">
                  <td class="small-cart__item-text">
                    <a href="#">Act 2</a>
                    <p class="small-cart__item-quantity">×1</p>
                    <p class="small-cart__item-price">2000р.</p>
                  </td>
                  <td class="small-cart__item-text">
                    <button class="small-cart__item-delete" type="button" title="Удалить"><i class="ion-ios-close"></i></button>
                  </td>
                </tr>
                <tr class="small-cart__item">
                  <td class="small-cart__item-text">
                    <a href="#">Act 2</a>
                    <p class="small-cart__item-quantity">×1</p>
                    <p class="small-cart__item-price">2000р.</p>
                  </td>
                  <td class="small-cart__item-text">
                    <button class="small-cart__item-delete" type="button" title="Удалить"><i class="ion-ios-close"></i></button>
                  </td>
                </tr>
                <tr class="small-cart__item">
                  <td class="small-cart__item-text">
                    <a href="#">Act 2</a>
                    <p class="small-cart__item-quantity">×1</p>
                    <p class="small-cart__item-price">2000р.</p>
                  </td>
                  <td class="small-cart__item-text">
                    <button class="small-cart__item-delete" type="button" title="Удалить"><i class="ion-ios-close"></i></button>
                  </td>
                </tr>
                <tr class="small-cart__item">
                  <td class="small-cart__item-text">
                    <a href="#">Act 2</a>
                    <p class="small-cart__item-quantity">×1</p>
                    <p class="small-cart__item-price">2000р.</p>
                  </td>
                  <td class="small-cart__item-text">
                    <button class="small-cart__item-delete" type="button" title="Удалить"><i class="ion-ios-close"></i></button>
                  </td>
                </tr>
              </table>
            </div>
            <div class="small-cart__result">
              <table class="table">
                <tr>
                  <td>Стоимость товара:</td>
                  <td class="small-cart__result-price">2000р.</td>
                </tr>
                <tr>
                  <td>Оплата в магазине (Рылеева, д.5):</td>
                  <td class="small-cart__result-price">0р.</td>
                </tr>
                <tr>
                  <td>Итого:</td>
                  <td class="small-cart__result-price">2000р.</td>
                </tr>
              </table>
              <p class="small-cart__dropdown-buttons">
                <a class="small-cart__dropdown-button" href="#">Перейти в корзину</a>
                <a class="small-cart__dropdown-button" href="#">Оформить заказ</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="header__login">
        <a id="a-register-link" href="javascript:void(0);" onclick="ocajaxlogin.appendRegisterForm()">Регистрация</a>
        <a id="a-login-link" href="javascript:void(0);" onclick="ocajaxlogin.appendLoginForm()">Вход</a>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="header__bottom-inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="categories-menu categories-menu--desktop">
              <button class="js-categories-menu categories-menu__opener" type="button">
                <span class="categories-menu__title">КАТЕГОРИИ</span>
                <span class="categories-menu__icon"></span>
              </button>
              <ul class="categories-menu__list">
                <li class="categories-menu__list-item">
                  <a class="categories-menu__link" href="#">Альтернатива и Электроника</a>
                </li>
                <li class="categories-menu__list-item">
                  <a class="categories-menu__link" href="#">Джаз</a>
                </li>
                <li class="categories-menu__list-item">
                  <a class="categories-menu__link" href="#">Диско</a>
                </li>
                <li class="categories-menu__list-item">
                  <a class="categories-menu__link" href="#">Идеи для подарков</a>
                </li>
                <li class="categories-menu__list-item">
                  <a class="categories-menu__link" href="#">Металл</a>
                </li>
                <li class="categories-menu__list-item">
                  <a class="categories-menu__link" href="#">Прог-рок</a>
                </li>
                <li class="categories-menu__list-item">
                  <a class="categories-menu__link" href="#">Пластинки</a>
                </li>
                <li class="categories-menu__list-item">
                  <a class="categories-menu__link" href="#">Алфавитный указатель</a>
                </li>
                <li class="categories-menu__list-item">
                  <a class="categories-menu__link" href="#">Новые поступления</a>
                </li>
                <li class="categories-menu__list-item">
                  <a class="categories-menu__link" href="#">Раритеты</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="header__info-block">
              <div class="search-bar">
                <input class="search-bar__input" name="search" type="text" placeholder="Введите название альбома или исполнителя">
                <button class="search-bar__button" type="button"><i class="icon ion-ios-search"></i></button>
              </div>
              <div class="header__info">
                <p><a href="mailto:info@mydissonance.ru"><b>info@mydissonance.ru</b></a></p>
                <p><a href="tel:+78125794600"><b>+7 (812) 579-46-00</b></a></p>
                <p><a href="#"><b>СПб, ул. Рылеева, 5</b></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
