<div id="login-form" class="popup-form">
  <div class="popup-form__title-block">
    <p class="popup-form__title">Вход</p>
    <button class="js-popup-close popup-form__close" type="button" title="Закрыть"><i class="ion-ios-close-circle"></i></button>
  </div>
  <div class="popup-form__content">
      <form action="/" method="post">
        <div class="popup-form__row">
          <label class="popup-form__label" for="login">Ваш логин</label>
          <input class="popup-form__input input" id="login" type="text" name="login" value="" placeholder="Ваш логин">
        </div>
        <div class="popup-form__row">
          <label class="popup-form__label" for="password">Пароль</label>
          <input class="popup-form__input input" id="password" type="text" name="password" value="" placeholder="Ваш пароль">
        </div>
        <div class="popup-form__row">
          <a href="#">Я забыл свой пароль</a>
        </div>
        <button class="button" type="button">ВОЙТИ</button>
        <button class="button" type="button">СОЗДАТЬ АККАУНТ</button>
      </form>
  </div>
</div>
